doctype html
html
  head
    title Hola Mundo!
    link(rel="stylesheet", href="css/main.css")
  body
    h1 &#161;Hola, Mundo!
    ul
      li Pug -> HTML
      li JS bundling and minification
      li Sass/SCSS -> minified css
      li Live reloading

    script(src='js/index.js', type='text/javascript')
